# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
env/
ENV/
.venv

# Flask
instance/
.webassets-cache

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# no lawsuit today
db.json